{% import '_includes/forms' as forms %}

{% do view.registerAssetBundle('verbb\\manytomany\\assetbundles\\field\\ManyToManyFieldAsset') %}

{{ hiddenInput(name, '') }}

<div class="js-mtm-field">
    {{ forms.elementSelect({
        name: name ~ '[add]',
        elementType: 'craft\\elements\\Entry',
        sources: section ? ['section:' ~ section] : [],
        selectionLabel: selectionLabel,
        class: 'js-mtm-element-select',
        elements: value,
    }) }}

    <div class="js-mtm-delete"></div>
</div>

{% set jsSettings = {
    id: id | namespaceInputId,
    name: name | namespaceInputName,
    elementIds: value | map(v => v.id),
} %}

{% js %}
    new Craft.ManyToMany.Field({{ jsSettings | json_encode | raw }});
{% endjs %}