{% import '_includes/forms' as forms %}

{{ forms.selectField({
    label: 'Linked Section' | t('manytomany'),
    instructions: 'What is the section you want to link in this relationship?' | t('manytomany'),
    id: 'source',
    name: 'source[value]',
    options: elements,
    value: field.source.value,
    errors: field.getErrors('source'),
}) }}

{{ forms.hidden({
    name: 'source[type]',
    value: 'section',
}) }}

{{ forms.selectField({
    label: 'Associated Field' | t('manytomany'),
    instructions: 'This is the field you are using to create the initial association. This has to be created first.' | t('manytomany'),
    id: 'singleField',
    name: 'singleField',
    options: fields,
    value: field.singleField,
    errors: field.getErrors('singleField'),
}) }}

{{ forms.textField({
    label: 'Selection Label' | t('app'),
    instructions: 'Enter the text you want to appear on the selection input.' | t('app'),
    id: 'selectionLabel',
    name: 'selectionLabel',
    value: field.selectionLabel,
    placeholder: field.defaultSelectionLabel(),
    errors: field.getErrors('selectionLabel'),
}) }}
